// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
@import 'fontawesome/scss/fontawesome.scss';
@import "fontawesome/scss/solid.scss";
@import "fontawesome/scss/regular.scss";
@import "fontawesome/scss/brands.scss";

@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

.post-subtitle {
    text-align: right;
    font-style: italic;
    &:before {
        content: "--";
    }
}

.p-definition {
    color: green;
    font-weight: bold;

    @extend %fa-icon;
    @extend .far;
    &:before {
        content: fa-content($fa-var-lightbulb);
    }
}

.p-lemma {
    color: darkcyan;
    font-weight: bold;

    @extend %fa-icon;
    @extend .far;
    &:before {
        content: fa-content($fa-var-bell);
        margin-right: 0.5em;
    }
}

.p-notation {
    color: burlywood;
    font-weight: bold;

    @extend %fa-icon;
    @extend .far;
    &:before {
        content: fa-content($fa-var-feather);
    }
}

.dt-published {
    @extend %fa-icon;
    @extend .far;
    margin-right: 8pt;
    &:before {
        content: fa-content($fa-var-clock);
    }
}

.p-author {
    @extend %fa-icon;
    @extend .fas;
    margin-right: 2em;
    &:before{
        margin-right: 2pt;
        content: fa-content($fa-var-user);
    }
}

.p-tags {
    text-align: right;
}

.p-tag {
    @extend %fa-icon;
    @extend .fas;

    &:before{
        content: fa-content($fa-var-tag);
    }
}

.blog-list-box {
    width: 80%;
}
.tag-list-box {
    width: 20%;
}


// customize my footer
.site-footer {
    padding: $spacing-unit/2 0;
}
.footer-right {
    text-align: right;
}

// Define For Some Icon
.icon-github {
    @extend %fa-icon;
    @extend .fab;
    &:before {
        content: fa-content($fa-var-github);
    }
}
.icon-email{
    @extend %fa-icon;
    @extend .fas;
    &:before {
        content: fa-content($fa-var-paper-plane);
    }
}
.icon-about {
    @extend %fa-icon;
    @extend .fas;
    &:before {
        content: fa-content($fa-var-question-circle);
    }
}

.p-quote {
    font-family: 'Niconne', cursive;;
}

// Some Layout 
.one-third {
    width: 33%;
}
